@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Navigation</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="bi bi-house-door"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index">
                                <i class="bi bi-grid-3x3-gap"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Index">
                                <i class="bi bi-person"></i> My Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Finding" asp-action="Index">
                                <i class="bi bi-search"></i> New Finding
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Finding" asp-action="AllFidings">
                                <i class="bi bi-clipboard"></i> All Findings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Finding" asp-action="MapOfFindings">
                                <i class="bi bi-map"></i> Map of Findings
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
    </div>
</div>
