<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Nálezník</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/NálezníkASP.styles.css" asp-append-version="true" />
	<link rel="icon" type="image/x-icon" href="~/images/favicon16.png" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
	<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body style="background-color: #d3d3d3;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index" style="color: #333;">
                    Nálezník
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @if (User.Identity.IsAuthenticated) {
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="bi bi-house-door"></i> Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index">
                                    <i class="bi bi-grid-3x3-gap"></i> Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                    <i class="bi bi-info-circle"></i> Information
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Index">
                                    <i class="bi bi-person-circle"></i> My Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Finding" asp-action="Index">
                                    <i class="bi bi-plus-circle"></i> New Finding
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Finding" asp-action="AllFidings">
                                    <i class="bi bi-folder"></i> All Findings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Finding" asp-action="MapOfFindings">
                                    <i class="bi bi-map"></i> Map of Findings
                                </a>
                            </li>
                            @if (User.IsInRole("Implementor") || User.IsInRole("UserManager")) {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">
                                        <i class="bi bi-person-lines-fill"></i> Users
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole("Implementor")) {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Roles" asp-action="Index">
                                        <i class="bi bi-shield-lock"></i> Roles
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>


	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - Nálezník - <a asp-area="" asp-controller="Home" asp-action="Privacy">Information</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
